     form label {
display:block;
 font-size: 50px;
margin: 0 20 20px;

}


form input {
display: block;
  margin: 0 10 50px; 
   padding: 50px 75px;


}


form input {
display: block;
  margin: 0 0 50px; 
   padding: 50px 75px;

}